.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

html{ 
  background: url(images/pitonsBg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  box-sizing: border-box;
}

.sidebar {
  float: right;
  background-color: #142B3A;
  height: 100%;
  width: 25%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  overflow:auto;
} 

a{
  color: rgb(144, 139, 139);  
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
}

a:hover{
  color: white;
}

.btn {
  border: none;
  color: rgb(144, 139, 139);
  cursor: pointer;
}

.btn:hover {
  color: white;
}

.fa-linkedin-square{
  width: 100%;
} 

.PInfo {
  width: 100%;
  height: 40%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.PNavigation {
  height: 60%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
} 

.PTitle h1{
  color: white;
  font-size: 20px; 
}

.PTitle h2{
  color: white;
  font-size:16px;
}

.dropbtn{
  width: 100%;
  text-align: right;
}

.linkList{
  list-style: none;
  height: 80%;
  padding-top: 40px;
  padding-right: 20px;
  margin: 0;
  display: block;
  list-style-position: inside;
  text-align: right;
} 

li.list:not(:last-child) { 
   margin-bottom: 50px;  
}

.accountImages{
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
} 

.accountImages::after{
  content: "";
  clear: both;
  display: table;
}

.linkedIn {
  width: 50%
}

.gmail{
  margin-top: 10px;
  width: 11%;
}

.gitHub{
  width: 33%;
}

.PTitle{
  height: 40%;
  text-align: center; 
  padding: 0;
  margin: 0;
}

.portforlioPicture{
  height: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4vh;
}

.InformationScreen{
  float: left;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.pdf{
  min-height: 100vh;
  min-width: 100%;
}

.contactMeInfo{
  text-transform: capitalize;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-weight: 300;
  text-shadow: 0 0 20px #000000;
  margin-top: 30%;
  margin-left: 5%;
  margin-right: 5%;
}

.contactMe{
  color: white;
}

.sidebar, .informationScreen{
  width: 100%;
}

@media (min-width: 900px) {
  
    .InformationScreen {
      width: 75%;
      height:100vh;
      -webkit-order: 2;
      order: 2;
      float: left;
      text-align: center;
      align-items: center;
    }

  .sidebar {
    float: right;
    min-height: 100vh;
    width: 25%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  } 

  a{
    color: rgb(144, 139, 139);  
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
  }

  a:hover{
    color: white;
  }

  .btn {
    border: none;
    color: rgb(144, 139, 139);
    cursor: pointer;
  }

  .btn:hover {
    color: white;
  }

  .fa-linkedin-square{
    width: 5%;
  } 

  .PInfo {
    width: 100%;
    height: 40%;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .PNavigation {
    height: 60%;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
  } 

  .PTitle h1{
    color: white;
    font-size: 20px; 
  }

  .PTitle h2{
    color: white;
    font-size:16px;
  }

  .dropbtn{
    width: 100%;
    text-align: right;
  }

  .linkList{
    list-style: none;
    height: 80%;
    padding-top: 40px;
    padding-right: 20px;
    margin: 0;
    display: block;
    list-style-position: inside;
    text-align: right;
  } 

  li.list{ 
    margin-bottom: 50px;  
  }

  .accountImages{
    text-align: center;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  } 

  .accountImages::after{
    content: "";
    clear: both;
    display: table;
  }

  .linkedIn {
    width: 50%
  }

  .gmail{
    margin-top: 10px;
    width: 11%;
  }

  .gitHub{
    width: 33%;
  }

  .PTitle{
    height: 40%;
    text-align: center; 
    padding: 0;
    margin: 0;
  }

  .portforlioPicture{
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vh;
  }

  .pdf{
    min-height: 100vh;
    min-width: 100%;
  }

  .contactMeInfo{
  text-transform: capitalize;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 20px #000000;
  font-style: italic;
  margin-top: 30%;
  margin-left: 10%;
  margin-right: 10%;
  }

  #contactMe{
    padding: 0;
    margin: 0;
    height: 70px;
    width: 320px;
    position: absolute;
    top: 57%;
    right: 27%;
    color: white;
    text-transform:none;
  }

  .cM{
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
    text-align: left;
  }

}

